<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="normal/base::layout(~{::section})">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Real-Time Employee Location Tracking</title>
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
        <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    </head>
    <body>
      
<section>

    <h1>User History</h1>
    <table border="1">
        <thead>
            <tr>
                <th>History ID</th>
                <th>User ID</th>
                <th>Geofence ID</th>
                <th>User Name</th>
                <th>Geofence Name</th>
                <th>Date</th>
                <th>Entry Time</th>
                <th>Exit Time</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="history : ${userHistories}">
                <td th:text="${history.historyId}"></td>
                <td th:text="${history.userId}"></td>
                <td th:text="${history.geofenceId}"></td>
                <td th:text="${history.userName}"></td>
                <td th:text="${history.geofenceName}"></td>
                <td th:text="${history.date}"></td>
                <td th:text="${history.entryTime}"></td>
                <td th:text="${history.exitTime}"></td>
            </tr>
        </tbody>
    </table>
    
</section>
       
    </body>
</html>
